* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1::selection {
  background: red !important;
  background: rgba(235, 45, 102, 0.35);
  user-select: none;
}

a {
  cursor: no-drop;
  text-decoration: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
  /* background-color: #f1f0d5f5; */
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #e2e4f267;
  /* background: #fff; */
}

/* HEADER */

#header {
  margin-bottom: 75px;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 26px;
  animation: head 2s alternate ease-in-out;
}

@keyframes head {
  0% {
    transform: translateX(-300px);
  }
}

.header img {
  width: 34px;
  height: 34px;
  margin-left: 90px;
}

.header h1 {
  color: #0c76d8;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-nav {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.header h1 span {
  color: #2a2d46;
  font-size: 11px;
  font-weight: 400;
}

.header-nav ion-icon {
  margin-left: 30px;
}

.header-nav a {
  color: #2a2d46;
  /* color: red; */
  font-size: 12px;
  font-weight: 400;
  margin-left: 30px;
  transition: 0.6s;
}

.header-nav a:hover {
  color: #0c76d8;
}

.number {
  color: #2a2d46;
  font-size: 13px;
  font-weight: 700;
  margin: 0 37px 0 67px;
}

.header button {
  width: 130px;
  height: 30px;
  border: 1px solid #eb2d66;
  color: #eb2d66;
  font-size: 11px;
  font-weight: 700;
  background: none;
  transition: 0.8s;
}

.header button:hover {
  background: #eb2d66;
  color: white;
}

.cart {
  color: #eb2d66;
  width: 30px;
  height: 30px;
  margin: 0 17px 0 71px;
}

.header select {
  color: #2a2d46;
  font-size: 12px;
  font-weight: 700;
  background: none;
  border: none;
  outline: none;
}

/* HERO */

.hero {
  display: flex;
}

.hero h1 {
  color: #2a2d46;
  font-size: 36px;
  font-weight: 900;
  margin-top: 80px;
}

.hero p {
  color: #2a2d46;
  font-size: 16px;
  font-weight: 400;
  line-height: 145.4%; /* 23.264px */
  margin: 39px 0 45px 0;
}

.hero button {
  width: 244px;
  height: 57px;
  background: #eb2d66;
  box-shadow: 0px 7px 35px 0px rgba(235, 45, 102, 0.35);
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  line-height: 145.4%; /* 21.81px */
  transition: 0.8s;
}

.hero button:hover {
  background: none;
  border: 2px solid #eb2d66;
  color: #eb2d66;
  transform: scale(1.1);
}

.bg {
  width: 686px;
  height: 444px;
  margin-left: 269px;
}

.hero-drone {
  position: relative;
}

.hero-img {
  position: absolute;
  bottom: 24px;
  left: 110px;
  width: 686.749px;
  height: 374px;
  animation: dron 3s alternate ease-in-out;
}

@keyframes dron {
  0% {
    transform: translateY(-300px) scale(0.2);
  }
  50% {
    transform: translateX(300px) rotate(180deg);
  }
}

.drone-text {
  position: absolute;
  bottom: 56px;
  right: 130px;
}

.drone-text h2 {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  line-height: 145.4%; /* 21.81px */
  margin-bottom: -30px;
}

.drone-text h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  line-height: 145.4%; /* 21.81px */
  margin-top: -38px;
}

.drone-text p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.white {
  width: 9px;
  height: 9px;
  background-color: white;
  position: absolute;
  bottom: 166px;
  right: 280px;
}

.three {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  align-items: center;
}

.block {
  width: 39px;
  height: 8px;
  margin-left: 16px;
  background: rgba(255, 255, 255, 0.35);
}

.center {
  background: white;
}

.three svg {
  margin-left: 440px;
}

/* .hero-bg {
  padding: 17px 39px 55px 0;
  padding-left: 0;
  background: rgba(49, 69, 255, 0.06);
} */

/* PRODUCT */

.product {
  margin-top: 90px;
  margin-bottom: 30px;
}

#pla:checked ~ .card {
  opacity: 0.2;
}

.product-text {
  display: flex;
  align-items: center;
}

.product-text h1 {
  color: #2a2d46;
  font-size: 25px;
  font-weight: 900;
  margin-right: 93px;
  margin-left: 80px;
}

.product-text a {
  color: #2a2d46;
  font-size: 13px;
  font-weight: 400;
  margin-left: 30px;
}

.card {
  width: 270px;
  height: 487px;
  background: #ffffff;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.cards {
  display: flex;
  margin-top: 45px;
}

.card h1 {
  color: #2a2d46;
  font-size: 17px;
  font-weight: 900;
  margin: 21px 0 0 39px;
}

.card img {
  margin: 31px 0 32px 39px;
}

.card h2 {
  color: #0c76d8;
  font-size: 15px;
  font-weight: 900;
  margin: 34px 0 34px 39px;
}

.des {
  display: flex;
}

.des h6 {
  color: #2c3ba0;
  font-size: 12px;
  font-weight: 400;
  line-height: 154.9%; /* 18.588px */
  margin-left: 39px;
  margin-right: 10px;
}

.des p {
  color: #646986;
  font-size: 12px;
  font-weight: 400;
  line-height: 154.9%; /* 18.588px */
}

.down img {
  position: absolute;
  top: 413px;
  right: 40px;
}

.line {
  width: 470px;
  height: 6px;
  background: #e2e4f2;
  /* background: red; */
  margin: 100px auto;
  display: flex;
  align-items: center;
}

.line-center {
  width: 47px;
  height: 13px;
  background: #9094bb;
  /* box-shadow: 0px 2px 10px 0px rgba(46, 55, 101, 0.22); */
  margin-left: 214px;
}

/* NEWS */

.news {
  margin-bottom: 50px;
  display: flex;
}

.man {
  position: relative;
  margin-left: 40px;
}

.man h1 {
  color: #fff;
  font-size: 27px;
  font-weight: 900;
  line-height: 121.4%; /* 32.778px */
  position: absolute;
  bottom: 220px;
  margin-left: 126px;
}

.man p {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  line-height: 135.9%; /* 21.744px */
  position: absolute;
  bottom: 190px;
  left: 126px;
}

.man h2 {
  color: #2a2d46;
  font-size: 25px;
  font-weight: 900;
  position: absolute;
  left: 360px;
  top: 200px;
}

.plus {
  width: 30px;
  height: 30px;
  clip-path: polygon(
    10% 25%,
    35% 25%,
    35% 0%,
    65% 0%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 78%,
    35% 78%,
    35% 50%,
    10% 50%
  );
  position: absolute;
  top: 70px;
  left: 528px;
  background: white;
}

.kv {
  width: 30px;
  height: 30px;
  background-color: #fff;
  clip-path: inset(5% 20% 26% 10%);
  position: absolute;
  left: 90px;
  top: 210px;
}

.girl {
  position: relative;
}

.girl h1 {
  color: #fff;
  font-size: 27px;
  font-weight: 900;
  line-height: 121.4%; /* 32.778px */
  position: absolute;
  bottom: 200px;
  margin-left: 126px;
}

.girl p {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  line-height: 135.9%; /* 21.744px */
  position: absolute;
  bottom: 170px;
  left: 126px;
}

.kvg {
  width: 30px;
  height: 30px;
  background-color: #fff;
  clip-path: inset(5% 20% 26% 10%);
  position: absolute;
  left: 90px;
  top: 230px;
}

.plusg {
  width: 30px;
  height: 30px;
  clip-path: polygon(
    10% 25%,
    35% 25%,
    35% 0%,
    65% 0%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 78%,
    35% 78%,
    35% 50%,
    10% 50%
  );
  position: absolute;
  top: 70px;
  left: 568px;
  background: white;
}

.catalog {
  margin-top: 50px;
  margin-bottom: 70px;
}

/* ALL */

.all {
  margin-bottom: 50px;
}

.all h1 {
  color: #2a2d46;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 49px;
  margin-left: 20px;
}

.all-nav {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-left: 20px;
}

.all-nav h2 {
  color: #2a2d46;
  font-size: 50px;
  font-weight: 900;
}

.all-nav h6 {
  color: #2a2d46;
  font-size: 13px;
  font-weight: 400;
}

/* FOOTER */

#footer {
  background: #343a62;
}

.footer {
  padding: 140px 0;
  display: flex;
  align-items: center;
}

.footer h1 {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 40px;
}

.footer h1 span {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}

.footer-nav a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-left: 49px;
  transition: 0.6s;
}

.footer-nav a:hover {
  color: #0c76d8;
}

.footer-nav ion-icon {
  color: white;
  margin-left: 49px;
}

.vec {
  margin: 0 100px 0 71px;
}

.footer-number {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

.footer button {
  width: 130px;
  height: 30px;
  background: none;
  border: 1px solid #eb2d66;
  color: #eb2d66;
  font-size: 11px;
  font-weight: 700;
  margin-left: 88px;
  transition: 0.7s;
}

.footer button:hover {
  background: rgba(235, 45, 102, 0.35);
  user-select: none;
  color: white;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: yellow;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 18px;
  transition: 1.7s;
}

::-webkit-scrollbar-thumb:hover {
  background: red;
}
